@model Octogami.DutyHours.Web.Models.AnalysisViewModel



<h2>Analysis for @Model.UserName</h2>
@if(@Model.ValidationResults.Any())
{
    foreach (var result in @Model.ValidationResults)
    {
        <h3>@result.Description</h3>
        <p>@result.ErrorType.ToString()</p>
        <p>Shifts</p>
        <ul>
            @foreach (var shift in @result.ViolatingShifts)
            {
                <li>@shift.Begin.ToString("MM/dd/yyyy H:mm:ss") to @shift.End.ToString("MM/dd/yyyy H:mm:ss")</li>
            }
        </ul>
    }
}
else
{
    <h3>Analysis passed. No duty shift rules were broken.</h3>
}

